export BP_AMQP_HOST="mq-phoenix.bonnowlabs.com"
export BP_AMQP_PORT=5672
export BP_AMQP_VHOST="/shogi_niboshi_pro_development"
export BP_AMQP_USER="niboshi"
export BP_AMQP_PASS="green_apple"
export BP_AMQP_SSL=false
export BP_ROUTING_KEY="heartbeat"
export BP_AMQP_QUEUE="heartbeat"
